<%- include('../layout/user/header.ejs') %>

<div class="home-div">
    <h3>WELCOME TO HOME</h3><br>
    <a class="logout-button d-flex justify-content-center align-items-center" href="/logout">Logout</a>

</div>


<%- include('../layout/user/footer.ejs') %>
